.container-about{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-repeat: space;
}
.description-about{
  background: var(--bg-glass);
  padding: 1.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.contain-my-skills{
  margin: 2rem 1rem;
  & h2{
    margin: 2rem 0 ;
    font-size: 2rem;
    font-weight:bold;
    background: -webkit-linear-gradient(45deg,#8103ff 40%, #0f899489 ,#26edff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}
.container-my-technologies{
    width: 100%;
    display: grid;
  }
.title-technologies{
  background-color: rgba(164, 26, 238, 0.142);
  padding: 1.5rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.skills{
  background-color: var(--bg-glass);
  text-align: start;
  padding: 1rem;
}
.tech{
  margin-left:1rem ;
  padding: .3rem 0 .3rem .5rem;
  font-size: 1.2rem;
      }


/** media query tablet*/
@media screen and (min-width:768px){
  .description-about{
    font-size: 1.3rem;
  }
}
/** media query laptop*/
@media  screen and (min-width:1024px) {
  .description-about{
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .contain-my-skills{
    margin: 2rem 1rem;
    & h2{
      margin: 2rem 0 ;
      font-size: 1.8rem;
      font-weight:600;
    }
  
  }
  .container-my-technologies{
      width: 70%;
      margin: 0 auto;
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr 1fr ; 
      gap: 9px; 
      grid-template-areas: 
        "skills versions"
        "skills versions"
        "skills methodology"
        "skills methodology"; 
        }

  .title-technologies{
    background-color: rgba(164, 26, 238, 0.142);
    padding: 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .skills{
    grid-area: skills;
    background-color: var(--bg-glass);
    text-align: start;
    padding: 0;
  }
  .versions{
    grid-area: versions;
  }
  .methodology{
    grid-area: methodology;
  }
  .tech{
    font-size: 1.2rem;
    }
}