.contain-textarea {
  height: 7rem;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contain-textarea label {
  font-size: 1.1rem;
  padding-left: 10px;
  position: absolute;
  top:1rem;
  transition: 0.3s;
  pointer-events: none;
}

textarea {
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: 3px 3px 10px #bb77ffa3,
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

textarea:focus {
  border: 2px solid transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.contain-textarea textarea:valid ~ label,
.contain-textarea textarea:focus ~ label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-45px);
}

.contain-textarea textarea:valid,
.contain-textarea textarea:focus {
  box-shadow: 1px 1px 10px  #21ecffae,
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px #01555dbb,
  inset -1px -1px 6px #00daeea7;
}

.textarea-error{
  width: 100%;
  height: 0;
  display: inline-block;
  color: rgb(244, 27, 49);
  font-size: .8rem;
  text-align: end;
  position: relative;
  bottom: 2rem;
  right: 1rem;
  z-index: 1;
}
/** media query tablet*/
@media screen and (min-width:768px){
  
}
/** media query laptop*/
@media  screen and (min-width:1024px) {

}
