.mode-theme{
  height: 1.5rem;
  width: 3rem;
  background-color:#0f0d1e;
  border:none;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.mode-theme::after{
  content: '';
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background: #f1f1f1;
  border-radius: 2rem;
  left: 0;
  right:unset;
  top: 0;
  transition: .3s ease-in all;
  box-shadow: 0px 0px 1.5px 1.5px rgb(1, 1, 12);

}
.mode-theme.active{
  background-color:rgb(68, 133, 224);
}
.mode-theme.active::after{
  right: 0;
  left: unset;
}
.mode-theme> span svg{
  display: inline-block;
  height: 1.1rem;
  width: 1.3rem;
  color: var(--bg-light);
  line-height: 2.2rem;
}
/** media query tablet*/
@media screen and (min-width:767px){
  .mode-theme{
    height: 2rem;
    width: 4rem;
  }
  .mode-theme::after{
    height: 2rem;
    width: 2rem;
  }
  .mode-theme> span svg{
    height: 1.5rem;
    width: 1.5rem;
  }
}
/** media query laptop*/
@media  screen and (min-width:1200px) {

}