.container-contact{
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact-title{
  width: 90%;
  padding: 1.5rem 0 ;
}
h2{
  font-size: 1rem;
}
.container-form{
  width: 90%;
}
.contain-img-form{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form{
  width: 100%;
  background: rgba(105, 105, 105, 0.092);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container-inputs{
  width: 100%;
}
.send-form:disabled{
  background: rgb(82, 82, 82);
  color: azure;
  box-shadow: none;
  border: 1px solid #646464;
}
.send-form:disabled:active{
  box-shadow: none;
}
.send-form{
  width: 8rem ;
  margin: 2rem 0;
  padding: .5rem ;
  background: var(--bg-btn);
  box-shadow: 0px 0px 8px 0  #fff ,0 0  8px 0  #fff;
  border: none;
  border-radius: .5rem ;
  font-size: 1rem;
  color: var(--text-primary);
}
.send-form:active{
  box-shadow:-2px -2px 4px 0px #ffffff9b inset, 2px 2px 8px 0px #ffffffa7 inset;
}
/** media query tablet*/
@media screen and (min-width:768px){
  
  .contact-title{
    width: 90%;
    padding: 1.5rem 0 ;
    & h2{
    font-size:1.3rem;
    font-weight: 400;
    }
  }
  .container-form{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .contain-img-form{
    width: 80%;
    margin: 0 auto;
    display: flex;

  }
  .img-form{
    width: 100%;
  }
  .form{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
  }
  .container-inputs{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .send-form{
    width: 10rem ;
    margin: 2rem 0;
    padding: 1rem .5rem;
    font-size: 1.3rem;
  }
}
/** media query laptop*/
@media  screen and (min-width:1024px) {
  .container-contact{
    width: 90%;
    margin: 2rem auto;
    
  }
  .contact-title{
    width: 90%;
    padding: 1.5rem 0 ;
    & h2{
    font-size:1.3rem;
    font-weight: 400;
    }
  }
  .container-form{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .contain-img-form{
    width: 50%;
  }
  .img-form{
    width: 20rem;
    height: 20rem;
  }
  .form{
    width: 23rem;
    height: 90%;
    margin: 0 auto;
    padding: 1rem;
  }
  .container-inputs{
    width: 90%;
    height: 3.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .send-form{
    width: 8rem ;
    margin: 1rem 0 0 0;
    padding: .5rem .5rem;
    font-size: 1.3rem;
  }
}