.header{
  height:7rem;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-section-1{
  height: 5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
}
.container-logo{
  height: 100%;
}
.logo{
  object-fit: contain;
  width: 100%;
  height: 80%;
}
.side-menu{
  display: none;
}
.side-menu:checked ~ nav{
  max-height: 60vh;
}
.hamb{  
  margin-right: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hamb span{
  height: .3rem;
  width: 100%;
  background-color:var(--cl-utilities);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform-origin:0 100% ;
  transition: all 300ms ease-in-out;
}
.side-menu:checked ~ .hamb .hamb-line1{
  transform: rotate(45deg)translate(3px, -5px);
  height: .3rem;
}
.side-menu:checked ~ .hamb .hamb-line2{
  opacity: 0;
}
.side-menu:checked ~ .hamb .hamb-line3{
  transform: rotate(-45deg) translate(5px, 5px);
  height: .3rem;

}
.nav{
  width: 60vw;
  height: 50vh;
  position: absolute;
  right: 0;
  top:5rem;
  background:linear-gradient(#05394939, #0c476539, #041a293c);
  backdrop-filter: blur(15px);
  border-radius: 0 0 0 2rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;
}
.menu{
  width: 100%;
  height: 100%;
  padding: 1rem 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  user-select: none;

}
.menu li{
  width: 70%;
  font-size: x-large;
  font-weight: bold;
  padding: 1rem;
  transition: all .4s ease-in-out;
  text-align: center;
}
.menu li .active{
  color: var(--text-secondary-2);
}
.menu li a:hover{
  border-bottom: 2px solid var(--text-secondary-2);
}
.header-section-2{
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}



/** media query tablet*/
@media screen and (min-width:768px){
  .header{
    height:10rem;
  }
  .header-section-1{
    height: 8rem;
  }
  .hamb{  
    margin-right: 4rem;
    height: 3.5rem;
    width: 3.5rem;
  }
  .hamb span{
    height: .5rem;
  }
  .side-menu:checked ~ .hamb .hamb-line1{
    height: .5rem;
  }
  .side-menu:checked ~ .hamb .hamb-line3{
    height: .5rem;
  }
  .nav{
    width: 40vw;
    height: 50vh;
    top:8rem;
  }
  .menu li{
    gap: 0;
    font-size: 2rem;
    font-weight: 400;
    padding: 1.5rem;
  }
}

/** media query laptop*/
@media  screen and (min-width:1024px) {
  .header{
    height:8rem;
    width: 98vw;
    margin: 0 auto;
  }
  .header-section-1{
    height: 6rem;
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 ;

  }
  .container-logo{
    height: 90%;
    margin-left: 2rem;
  }
  .side-menu{
    display: none;
  }
  .hamb{  
    display: none;
  }
  .nav{
    height: 5rem;
    width: min-content;
    position: relative;
    top:0;
    background:none;
    backdrop-filter:none;
    border-radius:0;
    overflow: hidden;
    max-height:max-content;
    transition: none;
  }
  .menu{
    width: 100%;
    flex-direction: row;
    justify-content: none;
  }
  .menu li{
    width: 7rem;
    min-width: 7rem;
    padding: .5rem;
    font-size: 1.2rem;  }
  .menu li .active{
    color: var(--text-secondary-2);
  }
  .header-section-2{
    width: 100%;
    justify-content: end;
    padding-right: 2rem;
  }
}
