.contain-projects{
  width: 100%;
  text-align: center;
}
.contain-projects >.titles{
  margin: 2rem 0;
}
.contain-projects >.titles::first-letter{
  font-size: 2.5rem;
}
.projects{
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto 2rem;
  /* background: var(--bg-glass); */
  backdrop-filter: blur(.2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
/** media query tablet*/
@media screen and (min-width:768px){
  .projects{
    gap: 3rem;
  }
}
/** media query laptop*/
@media  screen and (min-width:1024px) {
  .contain-projects{
  width: 100%;
  }
  .projects{
    width: 100%;
    gap:2rem;
  }
}