.contain-redes-icons{
  width: 10rem;
  height: 3.5rem;
  margin-top:1rem ;
  display: flex;
  justify-items: flex-end;
  justify-content: space-between;
}
.link-redes{
  height: 3.5rem;
}
.link-redes > svg {
  height: 3rem;
}
/** media query tablet*/
@media screen and (min-width:768px){
  .contain-redes-icons{
    width: 15rem;
    height: 5rem;
  }
  .link-redes{
    height: 100%;
  }
  .link-redes > svg {
    height: 4rem;
  }
}

/** media query laptop*/
@media  screen and (min-width:1024px) {

}
