.footer{
  text-align: center;
  justify-items: flex-end;
}
.footer span{
  padding: 2rem;
}
/** media query tablet*/
@media screen and (min-width:768px){
}

/** media query laptop*/
@media  screen and (min-width:1024px) {
}

