
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:var(--bg-light);
  color: var(--text-primary);
  font-family: 'Gilda Display', serif;
}
.dark{
  background-color:var(--bg-dark);
  color: var(--text-primary-dark);
  a{
    color: var(--text-primary-dark);
  }
  svg{
    fill:var(--text-primary-dark);
  }
  input {
    color: #17b1d0;
  }
  textarea{
    color: #17b1d0;
  }
}
ul{
  list-style: none;
}
a{
  text-decoration: none ;
  color: var(--text-primary);
}
img{
  width:200px;
}

:root{
  --bg-light:#ecf5f8;
  --bg-dark:#010d10;
  --bg-card:#cc99ff;
  --bg-btn:#099ede;
  --bg-glass:#65cefb23;
  --bg-glass-2:#010d1038;
  --cl-utilities:#3da9c1;
  --text-primary:#081e23;
  --text-secondary:#a971e2;
  --text-secondary-2:#00AAF2;
  --text-primary-dark:#e7fbff;
  --text-secondary-dark:#a971e2;
  --text-secondary-2-dark:#00AAF2;
}

.contain-pages{
  width: 100vw;
}
@media screen and (min-width:767px){
  .contain-pages{
    width: 100vw;
    margin: 0 auto;
  }
}
@media  screen and (min-width:1200px){
  .contain-pages{
    width: 80vw;
    margin: 0 auto;
  }
}

