*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* background:url(./assets/background_circle.png) no-repeat ;
  background-size:70% ;
  background-position:center ; */
  color: var(--text-principal);
}
ul{
  list-style: none;
}
a{
  text-decoration: none ;
  color: var(--text-primary);
}


:root{
  --color-bg:#f2f7f7;
  --bg-card:#E7CFFF;
  --bg-btn:#00AAF2;
  --bg-glass:#65cefb23;
  --text-secondary-2:#00AAF2;
  --text-secondary:#a971e2;
  --text-primary:#171717;
}
