
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&family=Cinzel&family=Gilda+Display&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:var(--bg-light);
  color-scheme: var(--text-primary);
  font-family: 'Gilda Display', serif;
  .contain-pages{
    background: url(/public/f2.png) repeat;
    background-size: 100% ;
    background-position: top;
  }
}
.dark{
  background-color:var(--bg-dark);
  color: var(--text-primary-dark);
  a{
    color: var(--text-primary-dark);
  }
  svg{
    fill:var(--text-primary-dark);
  }
  input , textarea {
    color: #e7fbff;
  }
  .contain-pages{
    background: url(/public/ft.png) repeat;
    background-size: 100% ;
    background-position: top;
  }
}
ul{
  list-style: none;
}
a{
  text-decoration: none ;
  color: var(--text-primary);
}
img{
  width:200px;
}

:root{
  --bg-light:#ebfaff;
  --bg-dark:#010d10;
  --bg-card:#cc99ff;
  --bg-btn:#099ede;
  --bg-glass:#65cefb23;
  --bg-glass-2:#010d1038;
  --cl-utilities:#3da9c1;
  --text-primary:#081e23;
  --text-secondary:#a971e2;
  --text-secondary-2:#00AAF2;
  --text-primary-dark:#e7fbff;
  --text-secondary-dark:#a971e2;
  --text-secondary-2-dark:#00AAF2;
}

.contain-pages{
  width: 100vw;
  
}
@media screen and (min-width:768px){
  .contain-pages{
    width: 100vw;
    margin: 0 auto;
  }
}
@media  screen and (min-width:1024px){
  .contain-pages{
    width: 80vw;
    margin: 0 auto;
  }
}

